In [1]:
import pandas as pd

In [2]:
dataset= 'test1 copy 2'
df=pd.read_csv(f"/Users/prachiteechouhan/Documents/CPSC DSP /Topic-based clustering/SentenceTransformer-Smoothing/Clustering-meeting-TESTING/data/text/test1 copy 2.csv")
df.head()

data={'text':df['text'],'label':df['label']}
new_df=pd.DataFrame(data)
new_df['text']=new_df['text'].str.lower()
new_df=new_df.dropna()
unique_items = new_df['label'].unique()

# Create a dictionary with unique items as keys and values as 0, 1, 2, ...
label_category = {item: idx for idx, item in enumerate(unique_items)}
dataset='test2'
for col in ["label"]:
    new_df[col] = new_df[col].replace(label_category)
for col in ["label"]:
    new_df[col] = new_df[col].replace(label_category)
new_df.to_csv(f"data/text/{dataset}.csv")
label_category

/var/folders/gc/ctm0w8v50hg3cb2nxz8njmx00000gn/T/ipykernel_1667/3085702330.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_df[col] = new_df[col].replace(label_category)

{'social media': 0,
 'Office relocation': 1,
 'remotecontroldevice': 2,
 'architecture': 3}

In [3]:
new_df.head()

                                                text  label
0  this meeting was about the future of social me...      0
1  this is the second meeting about future of soc...      0
3  the group was moving to a new building across ...      1
4  this meeting was about the design of the new b...      1
5  the meeting was about the new office space in ...      1

In [4]:
new_df.shape

(23, 2)

In [27]:
df=pd.read_csv(f"/Users/prachiteechouhan/Documents/CPSC DSP /Topic-based clustering/SentenceTransformer-Smoothing/Clustering-meeting-TESTING/data/text/test1.csv")
df.head()

df.head()

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]